.Asteroid {
    /* height: 100%; */
    width: 30%;
    margin-right: -35%;
    float: right;
    background-image: url('../../blob.svg');
    background-repeat: no-repeat;
    /* background-color: rgb(46, 44, 42); */
    padding: 40px;
    /* border-radius: 70px; */
}
