.Asteroid {
    /* height: 100%; */
    position: absolute;
    width: 15%;
    z-index: 5;
    /* -80 is off screen */
    /* 62 is at end */
    /* right: 62%; */
    float: right;
    background-image: url('../../blob.svg');
    background-repeat: no-repeat;
    /* background-color: rgb(46, 44, 42); */
    padding: 40px;
    /* border-radius: 70px; */
}
