.Space {
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    justify-content: space-evenly;
    position: relative;
}