.Shields {
    width: 40%;
    height: 100%;
    /* border: 1px solid lightblue; */
    /* left: 30%; re */
    position: absolute;
    box-shadow: inset -200px 0 42px -200px rgba(94, 179, 244, 0.9);
}

.shieldDisplay {
    position: fixed;
    left: 40px;
    bottom: 10px;
    width: 130px;
    height: 40px;
    background-color: rgb(48, 57, 60);
    border: 4px solid rgb(194, 197, 208);
    border-radius: 40px;
    box-shadow: -1px -1px 0 rgb(50, 47, 47),
                -2px -3px 0 rgb(50, 47, 47);
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: rgba(94, 179, 244, 0.9);
}