.NavBar-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  /* position: absolute; */
  background-color: rgba(9, 31, 53, 0.81);
  /* border: 1px solid greenyellow; */
}

.NavBar-title {
  font-family: 'Overpass Mono', monospace;
  color: rgb(31, 176, 193);
  text-shadow: 1px 1px lightcoral,
               2px 2px lightcoral,
               3px 3px lightcoral,
               4px 4px lightcoral,
               5px 5px lightcoral,
               6px 6px rgba(240, 128, 128, 0.7),
               7px 7px rgba(240, 128, 128, 0.6),
               8px 8px rgba(240, 128, 128, 0.5),
               9px 9px rgba(240, 128, 128, 0.4),
               10px 10px rgba(240, 128, 128, 0.3),
               11px 11px rgba(240, 128, 128, 0.2);
  margin-left: 2vw;
}

.NavBar {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 20px;
}

.NavBar-link {
  margin: 0 10px;
  color: rgb(31, 176, 193);
  font-family: 'Overpass Mono', monospace;
}

.NavBar-welcome {
  color:rgb(31, 176, 193);
  font-family: 'Overpass Mono', monospace;
}