.NavBar {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px;
  }
  
  .NavBar-link {
    margin: 0 10px;
    color: rgb(31, 176, 193);
    font-family: 'Overpass Mono', monospace;
  }
  
  .NavBar-welcome {
    color:rgb(31, 176, 193);
    font-family: 'Overpass Mono', monospace;
  }